@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #38C6D9;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.menu{
    width: 130px;
    display: flex;
    justify-content: space-between;
}
.links{
    text-decoration: none;
    color: white;
}
.links:active{
    color: rgb(0, 225, 255);
}